<div class="container">
    <div class="header">
      <h1>Assign Tasks</h1>
    </div>
    <div class="table-container">
      <table class="animated fadeIn">
        <thead>
          <tr>
            <th>Task List</th>
            <th>Due Dates</th>
            <th>Status</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Task 1</td>
                <td>2024-05-30</td>
                <td><span class="status pending">Pending</span></td>
                <td>Create wireframes for the new feature</td>
              </tr>
              <tr>
                <td>Task 2</td>
                <td>2024-06-05</td>
                <td><span class="status progress">InProgress</span></td>
                <td>Develop backend APIs for data retrieval</td>
              </tr>
              <tr>
                <td>Task 3</td>
                <td>2024-06-15</td>
                <td><span class="status completed">Completed</span></td>
                <td>Test and debug the application for release</td>
              </tr>
              <tr>
                <td>Update User Interface</td>
                <td>2024-06-15</td>
                <td><span class="status completed">Completed</span></td>
                <td>Implemented a new design for the user interface with improved usability and responsiveness.</td>
              </tr>
              
              
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <button class="back-button" routerLink="/dashboard">Back to Dashboard</button>
  </div>
  