<h2>Client List</h2>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Description</th>
      <th>Project Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.projectName }}</td>
      <td>{{ client.projectDescription }}</td>
      <td>{{ client.projectDeadline }}</td>
      <td>
        <button [routerLink]="['/clients/edit', client.id]">Edit</button>
        <button (click)="deleteClient(client.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/clients/new">Add New Client</button>