<div class="container">
    <h1 class="header">Project Timelines</h1>
    <div class="table-container">
      <table class="animated fadeIn">
        <thead>
          <tr>
            <th>Milestones</th>
            <th>Dependencies</th>
            <th>Progress Tracking</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Initial Project Setup</td>
            <td>No dependencies</td>
            <td><span class="status progress-completed">Completed</span></td>
          </tr>
          <tr>
            <td>Requirement Gathering</td>
            <td>Dependent on client feedback</td>
            <td><span class="status progress-in-progress">In Progress</span></td>
          </tr>
          <tr>
            <td>Design Prototype Development</td>
            <td>Dependent on finalizing requirements</td>
            <td><span class="status progress-pending">Pending</span></td>
          </tr>
          <!-- Add more milestones as needed -->
        </tbody>
      </table>
    </div> 
    <!-- <h2 class="topic-center">Project Timelines Overview</h2> -->
    <button class="back-button" routerLink="/dashboard">Back to Dashboard</button>
  </div>
  

  
  